.logo{
    text-align: center;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(224, 216, 216);
}


.foodcategory{
    text-align:start;
    color: black;
    font-family:'Courier New', Courier, monospace;
    