.logo{
    text-align: center;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(224, 216, 216);

}

.container2{
    background-color: rgb(224, 216, 216);


   
}

.row{
   
   
}


.d-flex{
    display: flex;

}

.jsfy-cnt{
    justify-content: space-around;
}

.foodcategory{
    text-align:start;
    color: black;
    font-family:'Courier New', Courier, monospace;
}

    .col-8 {
        width: calc((100% / 12) * 8);
    }


    .col-2 {
        width: calc((100% / 12) * 2);
    }

    .col-12 {
        width: calc((100% / 12) * 12);
    }

.white{
    background-color: white;
}
    


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }


 

    #app-main{
        background-color: rgb(224, 216, 216); 

    }