*{
    margin:0;
}

.main{
    font-family: 'montserrat';
    font-size: 12px;
}
.header{
    max-width: 360px;
    text-align: center;
    color: orange;
    font-family: 'nerko one', cursive;
    font-size: 16px;
    font-weight: 100;
    text-shadow:    .8px 2px 0px rgb(156, 147, 147),   /* Ombra in basso a destra */
    -2px 2px 0px #f6f5f3;  /* Ombra in basso a sinistra */
    2px -2px 0px #f6f5f3;  /* Ombra in alto a destra */
    -2px -2px 0px #f6f5f3;  /* Ombra in alto a sinistra */
    
}



ul {
    list-style-type: none;
    padding: 4;  /* Opzionale: rimuove l'indentazione predefinita */
    margin: 3;   /* Opzionale: rimuove il margine predefinito */
}

.container{
    background-color: #f6f5f3;

}

.container2{
    background-color:#f6f5f3;


   
}

.container3{
    background-color: #f6f5f3;

}


.row{
   
   
}


.d-flex{
    display: flex;

}

.jsfy-cnt{
    justify-content: space-around;
}

.food-category{
    text-align:start;
    color:  rgb(224, 216, 216);;
    font-family:Montserrat, 'Helvetica Neue', sans-serif;
}

    .col-8 {
        width: calc((100% / 12) * 8);
    }


    .col-2 {
        width: calc((100% / 12) * 2);
    }

    .col-12 {
        width: calc((100% / 12) * 12);
    }

    
.col-8-change{
    display: none;
}

 

  .main{
        background-color: #f6f4f3;
    }


    .list-flex {
        padding: 0;
        list-style: none;
    }

    .banner{
        display: none;
    }
    

    .presentation{
        align-items: center;
    }


/* media query*/

    @media screen and (min-width: 768px){


    .header{
     text-align: start;
}


/*.......*/




.col-8-change{
    display: inline-block;
  }
}

.main{
    padding: 20px;
    font-size: 25px;
}



.list-flex {
    display: flex;
    flex-wrap: wrap;
}

.list-flex li {
    margin-right: 20px;  /* Spazio tra gli elementi della lista */
    margin-bottom: 10px; /* Spazio tra le righe se la lista si avvolge */
}


.btn img {
    width: 40px; 
    /* Imposta la larghezza delle immagini a 40px, 
    INVECE NON VA BENE
     .btn{ img
      width:40px;
      }
     */
}

.banner{
    display: inline-block;
    width: 100%;
}

.piatto{
    width: 100%;
}

.title{

    text-align: center;
}

/*end query 768px*/





    @media screen and (min-width: 992px){
      

    
       }

  